$background: #121212;
$point: #1f6feb;
$text: #e0e0e0;
$sub-text: #9e9e9e;
$button: #ff9900;

:root {
  --background: #{$background};
  --point: #{$point};
  --text: #{$text};
  --sub-text: #{$sub-text};
  --button: #{$button};
}
